MONGODB_URI="mongodb+srv://<user>:<password>@<cluster>/<db>?retryWrites=true&w=majority"
DEFAULT_EVENT_SLUG="suhashi-darshana-2026-05-02"
NEXT_PUBLIC_EVENT_SLUG="suhashi-darshana-2026-05-02"
ALLOW_SEED="1"

